link#bootstrap-css(href='css/bootstrap.css', rel='stylesheet')
link#custom-css(href='custom_css/about.css', rel='stylesheet')
script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js')
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
// ---- Include the above in your HEAD tag --------
link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
style.
	.aboutus-banner{
		position: relative;
		right: 70px;
		width: 500px;
	}
	.aboutus-section p{
		font-size: 18px;
		line-height:150%;
	}
	.glyphicon{
		padding-top:20px;
	}
#navbar
.aboutus-section
	.container
		.row
			.col-md-3.col-sm-6.col-xs-12
				.aboutus
					h2.aboutus-title About Us
					p.aboutus-text
						| 코딩투게더!
					p.aboutus-text
						| 소프트웨어 교육이 정규과목이 되면서 코딩교육에 뜨거운 관심이 몰리고 있습니다.
						| 하지만 아직까지는 짧은 교육시간때문에 학교 수업만으로 공부하고 이해하기엔
						| 힘든 실정입니다. 
					p.aboutus-text
						| 코딩투게더가 이러한 문제점을 보완하고자 다음과 같은 서비스를 제공합니다.  
			.col-md-3.col-sm-6.col-xs-12
				.aboutus-banner
					img(src='images/drib_blink_bot.gif', alt='')
			.col-md-5.col-sm-6.col-xs-12
				.feature
					.feature-box
						.clearfix
							.iconset
								span.glyphicon.glyphicon-cog.icon
							.feature-content
								h4 컴파일러 설치 없이 웹사이트에서 코딩을
								p
								p
									| 컴파일러 설치 없이 사이트 안에서 바로바로 컴파일 후 결과 값을 확인할 수 있습니다.
									| C언어, Java, Python 언어 모두 사용 가능합니다.
					.feature-box
						.clearfix
							.iconset
								span.glyphicon.glyphicon-cog.icon
							.feature-content
								h4 챗봇을 통해 궁금한건 바로 물어보기
								p
								p
									| 코딩을 하다가 궁금한 점이 있을 때 챗봇과의 대화를 통해 도움을 받을 수 있습니다.
									| 혼자서도 포기하기 않고 문제를 해결하는 능력을 길러줍니다. 
					.feature-box
						.clearfix
							.iconset
								span.glyphicon.glyphicon-cog.icon
							.feature-content
								h4 단계별로 풀어보는 알고리즘 문제
								p
								p
									| 알고리즘 능력을 함양시키기 위해 그에 맞는 문제들을 단계별로 제공합니다.
									| 단계별로 성공하면서 알고리즘 능력이 향상되는 것을 느낄 수 있습니다. 
script.
	$(document).ready(function(){
		$('#navbar').load('http://localhost:3000/header');
	});
