doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		// The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
		meta(name='description', content='')
		meta(name='author', content='')
		link(rel='icon', href='../../favicon.ico')
		title 코딩봇 프로젝트
		// Bootstrap core CSS
		link(href='css/bootstrap.min.css', rel='stylesheet')
		// Custom styles for this template
		link(href='css/jumbotron.css', rel='stylesheet')
		// Just for debugging purposes. Don't actually copy these 2 lines!
		//if lt IE 9
		script(src='../../assets/js/ie8-responsive-file-warning.js')
		script(src='../../assets/js/ie-emulation-modes-warning.js')
	// HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
	//if lt IE 9
		script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
		script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
	body
		form(action='/form_receiver' method='post')
			.container
				.header
					nav
						ul.nav.nav-pills.pull-right
							li.active(role='presentation')
								a(href='#') Home
							li(role='presentation')
								a(href='#') 로그인
							li(role='presentation')
								a(href='#') 마이페이지
					h3.text-muted 코딩봇 
			.jumbotron
				h1 문제
				select(name='language') 
					option(name='1') C
					option(name='2') C++
					option(name='3') Java
				h4 findKim 함수(메소드)는 String형 배열 seoul을 매개변수로 받습니다.<br><br> seoul의 element중 Kim의 위치 x를 찾아, 김서방은 x에 있다는 String을 반환하세요.<br> <br>seoul에 Kim은 오직 한 번만 나타나며 잘못된 값이 입력되는 경우는 없습니다.
				p.lead
					textarea(style='resize:none; width:400px; height:300px;' name='description' onkeydown="if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}") #include<stdio.h>&#10;int main()&#10;{&#10;&#10;	return 0;&#10;}
				p
					input(type='submit' value='제출하기')
					footer.footer
				p © SkunivTeam
				// /container
				// IE10 viewport hack for Surface/desktop Windows 8 bug
			script(src='../../assets/js/ie10-viewport-bug-workaround.js')

