doctype html
html(lang='en')
	head
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		// The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
		meta(name='description', content='')
		meta(name='author', content='')
		link(rel='icon', href='../../favicon.ico')
		title 코딩봇 프로젝트
		// Bootstrap core CSS
		link(href='css/bootstrap.min.css', rel='stylesheet')
		// Custom styles for this template
		link(href='css/jumbotron.css', rel='stylesheet')
		// Just for debugging purposes. Don't actually copy these 2 lines!
		//if lt IE 9
		script(src='../../assets/js/ie8-responsive-file-warning.js')
		script(src='../../assets/js/ie-emulation-modes-warning.js')
	// HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
	//if lt IE 9
		script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
		script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
	body
	.container
		.header
			nav
				ul.nav.nav-pills.pull-right
					li.active(role='presentation')
						a(href='#') Home
					li(role='presentation')
						a(href='../views/login') 로그인
					li(role='presentation')
						a(href='#') 마이페이지
			h3.text-muted 코딩봇 
			.jumbotron
				h1 문제
				select#language(name='language' onchange='selectedLanguage.call(this,event)') 
					option(value='c') C
					option(value='c++') C++
					option(value='java') Java
				h4 show me the money 
				p.lead
				textarea#code(style='resize:none; width:400px; height:300px;' name='code' onkeydown="if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}") #include<stdio.h>&#10;int main()&#10;{&#10;&#10;	return 0;&#10;}
				p
				input#output(type='text' name='output' style='resize:none; width:400px; height:50px;' readonly='readonly')
				p
				input#ajax_post(type = 'button' value='제출하기' class='ajaxsend')
				p
				script.
					document.querySelector('.ajaxsend').addEventListener('click',function(){
						sendAjax('http://localhost:3000/form_receive',code.value,language.value);
					})	
					function sendAjax(url,data,language){
						var data = {'code': data ,'language': language};
						data = JSON.stringify(data);
						var xhr = new XMLHttpRequest();
						xhr.open('POST',url,true);
						xhr.setRequestHeader('Content-type','application/json');
						xhr.send(data);

					xhr.addEventListener('load',function() {
						var result = JSON.parse(xhr.responseText);
						if(result.result !='ok')return;
						document.getElementById('output').value=result.output;
						});
					}
					function selectedLanguage(event){
						switch(this.options[this.selectedIndex].value){
							case 'c':
								document.getElementById('code').value = '#include<stdio.h>\nint main()\n{\n\n\treturn 0;\n}'
								break;
							case 'c++':
								document.getElementById('code').value = '#include<iostream>\nusing namespace std;\nint main() \n{\n\n}';
								break;
							case 'java':
								document.getElementById('code').value = 'public class Test {\n\tpublic static void main(String[] args) {\n\n\t}\n}'
								break;
						}
					}
					script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
				p
				footer.footer
				p © SkunivTeam
			script(src='../../assets/js/ie10-viewport-bug-workaround.js')

