doctype html
head
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	// The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
	meta(name='description', content='')
	meta(name='author', content='')
	link(rel='icon', href='../../favicon.ico')
	title CodingTogether
	// Bootstrap core CSS
	link(rel='stylesheet', href='css/bootstrap.css')
	// Custom styles for this template
	link(href='css/jumbotron.css', rel='stylesheet')
style.
	.nav-pills{   
		display: flex;
		padding-top:5px;
	}
nav.navbar.navbar-default
	.container-fluid
		.navbar-header
			button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
				span.sr-only
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href='#') CodingTogether
		#bs-example-navbar-collpase-1.collapse.navbar-collapse
			ul.nav.navbar-nav
				li.active
					a(href='#')
						| About us
						span.sr-only
				li
					a(href='form') Practice 
				li.active
					a(href='#')
						| Dictinoary
						span.sr-only
				li
					a(href='#')
						| Commuity
						span.sr.only
			ol.nav.nav-pills.pull-right
				li.active(role='presentation')
					a(href='index') Home
				li(role='presentation')
					a#login(href='login') 로그인
				li(role='presentation')
					a#logout(href='logout') 로그아웃
				li(role='presentation')
					a(href='mypage') 마이페이지
		script.
			var f = !{login};
			$(document).ready(function(){
				//$("#chatBot").scrollTop($("#chatBot")[0].scrollHeight);
				if(f){	//로그인 상태일 때
					$("#login").hide()
					$("#logout").show()
				}
				else{	//로그인 상태가 아닐 때
					$("#logout").hide()
					$("#login").show()
				}
			});
			script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
	script(src='../../assets/js/ie10-viewport-bug-workaround.js')

