doctype html
html
	head
		meta(charset='utf-8')
		p#image
	body
		script.
			var image = !{data};
			var count = image.data.length;
			for(var i=0; i < count; i++)
				imageShow(image.data[i].images['237x'].url,300,300,'image');

			function imageShow(src,width,height,alt) {
				var position = document.getElementById('image');
				var img= document.createElement('img');
				img.src = src;
				img.width = width;
				img.height = height;
				img.alt = alt;
				position.insertBefore(img,position.childNodes[0]);
			}
