link#bootstrap-css(href='//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css', rel='stylesheet')
script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js')
script(src='//code.jquery.com/jquery-1.11.1.min.js')
// ---- Include the above in your HEAD tag --------
.container
	#loginbox.mainbox.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2(style='margin-top:50px;')
		.panel.panel-info
			.panel-heading
				.panel-title Sign In
				div(style='float:right; font-size: 80%; position: relative; top:-10px')
					a(href='#') Forgot password?
			.panel-body(style='padding-top:30px')
				#login-alert.alert.alert-danger.col-sm-12(style='display:none')
				form#loginform.form-horizontal(role='form')
					.input-group(style='margin-bottom: 25px')
						span.input-group-addon
							i.glyphicon.glyphicon-user
						input#login_id.form-control(type='text', name='username', value='', placeholder='username or email')
					.input-group(style='margin-bottom: 25px')
						span.input-group-addon
							i.glyphicon.glyphicon-lock
						input#login_password.form-control(type='password', name='password', placeholder='password')
					.input-group
						.checkbox
							label
								input#login-remember(type='checkbox', name='remember', value='1')
								|  Remember me
					.form-group(style='margin-top:10px')
						// Button
						.col-sm-12.controls
							input#btn-login.btn.btn-success(value='로그인' class='login' onclick='login()') 
							input#btn-enroll.btn.btn-primary(value='회원가입' class='login' onclick='enroll("enroll","회원가입",790,600)')
					.form-group
						.col-md-12.control
							div(style='border-top: 1px solid#888; padding-top:15px; font-size:85%')
								| Don't have an account! 
								a(href='#', onclick="$('#loginbox').hide(); $('#signupbox').show()")
									| Sign Up Here
	script.
		function login(){
			sendLogin('http://14.63.194.152:3000/login_receive',login_id.value,login_password.value);
		}
		function enroll(url,title,w,h){
			var dualScreenLeft = window.screenLeft != undefined ? window.screenLeft : window.screenX;
			var dualScreenTop = window.screenTop != undefined ? window.screenTop : window.screenY;

			var width = window.innerWidth ? window.innerWidth : document.documentElement.clientWidth ? document.documentElement.clientWidth : screen.width;
			var height = window.innerHeight ? window.innerHeight : document.documentElement.clientHeight ? document.documentElement.clientHeight : screen.height;

			var left = ((width / 2) - (w / 2)) + dualScreenLeft;
			var top = ((height / 2) - (h / 2)) + dualScreenTop;
			var newWindow = window.open(url, title, 'scrollbars=yes, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);
			// Puts focus on the newWindow
			if (window.focus) {
				newWindow.focus();
			}

		}
		function sendLogin(url,id,pwd){
			var info = {'login_id':id, 'login_password':pwd };
			info = JSON.stringify(info);
			var xhr = new XMLHttpRequest();
			xhr.open('POST',url,true);
			xhr.setRequestHeader('Content-type','application/json');
			xhr.send(info);
		
		xhr.addEventListener('load',function() {
			var result = JSON.parse(xhr.responseText);
			if(result.result != 'ok'){
				alert('정보가 일치하지 않습니다.')
				return;
			} else {
				location.href="http://14.63.194.152:3000/index";
			}
			});
		}
	#signupbox.mainbox.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2(style='display:none; margin-top:50px')
		.panel.panel-info
			.panel-heading
				.panel-title Sign Up
				div(style='float:right; font-size: 85%; position: relative; top:-10px')
					a#signinlink(href='#', onclick="$('#signupbox').hide(); $('#loginbox').show()") Sign In
				.panel-body
					form#signupform.form-horizontal(role='form')
						#signupalert.alert.alert-danger(style='display:none')
							p Error:
							span
						.form-group
							label.col-md-3.control-label(for='email') Email
							.col-md-9
								input.form-control(type='text', name='email', placeholder='Email Address')
						.form-group
							label.col-md-3.control-label(for='firstname') First Name
							.col-md-9
								input.form-control(type='text', name='firstname', placeholder='First Name')
						.form-group
							label.col-md-3.control-label(for='lastname') Last Name
							.col-md-9
								input.form-control(type='text', name='lastname', placeholder='Last Name')
						.form-group
							label.col-md-3.control-label(for='password') Password
							.col-md-9
								input.form-control(type='password', name='passwd', placeholder='Password')
						.form-group
							label.col-md-3.control-label(for='icode') Invitation Code
							.col-md-9
								input.form-control(type='text', name='icode', placeholder='')
						.form-group
						// Button
							.col-md-offset-3.col-md-9
								button#btn-signup.btn.btn-info(type='button')
									i.icon-hand-right
									|  &nbsp Sign Up
									span(style='margin-left:8px;') or
						.form-group(style='border-top: 1px solid #999; padding-top:20px')
							.col-md-offset-3.col-md-9
								button#btn-fbsignup.btn.btn-primary(type='button')
									i.icon-facebook
									|    Sign Up with Facebook
			

