doctype html
html
  head
    title Vue Sample
  body
    #app
      | {{ message }}
    script(src='https://unpkg.com/vue@2.3.3')
    script.
      new Vue({
      el: '#app',
      data: {
      message: 'Hello Vue.js!'
      }
      })

