doctype html
html(lang='ko')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title webpos-do
	body
		#app
			h3 기본 렌더링 테스트1
			|	{{message}}
		br
		#app-2
			h3 기본 렌더링 테스트2
			span(v-bind:title='message')
			|	마우스를 올리면 타이틀 메시지를 볼 수 있어요!
		br
		#app-3
			h3 기본 조건문 테스트
			p(v-if='seen') 조건문 테스트 메시지
		br
		#app-4
			h3 기본 반복문 테스트
			ol
				li(v-for='todo in todos')
					| {{ todo.text }}
		br
		#app-5
			h3 기본 핸들링 테스트1
			p {{ message }}
			button(v-on:click='reverseMessage') 메시지 뒤집기
		br
		#app-6
			h3 기본 핸들링 테스트2
			p {{ message }}
			input(v-model='message')

		script(src='https://unpkg.com/vue')
			
		script.
			var app = new Vue({
				el: '#app',
				data: {
					message: '안녕하세요 Vue!'
				}
			})
			var app2 = new Vue({
				el: '#app-2',
				data: {
					message: '이 페이지는 '+new Date() + ' 에 로드 되었습니다'
				}
			})
			var app3 = new Vue({
				el: '#app-3',
				data: {
					seen: true
				}
			})
			var app4 = new Vue({
				el: '#app-4',
				data: {
					todos: [
						{text: 'Javascript 배우기'},
						{text: 'Vue 배우기'},
						{text: '배고프다'}
					]
				}
			})
			var app5 = new Vue({
				el:'#app-5',
				data: {
					message: '안녕하세요!'
				},
				methods: {
					reverseMessage: function() {
						this.message = this.message.split('').reverse().join('')
					}
				}
			})
			var app6 = new Vue({
				el:'#app-6',
				data: {
					message: '안녕하세요 Vue.js!'
				}
			})
