@charset "utf-8";
.clearfix{*zoom:1;}
.clearfix:after{display: block;clear: both;content: '';}
.sr-only{position:absolute;left:-9999px;}

#wrap{width: 100%;margin: auto;}
#wrap a,span,p,th,th{font-family: 'Noto Sans', sans-serif;font-family: 'Noto Sans', sans-serif;}
/* 해더영역 */
header{
	position: relative;
	width:100%;
	height:120px;
	border-bottom:3px solid #E46C0A;
}
header>h1{
	position: absolute;
	top:7px;
	left:90px;
	width: 150px;
	height: 89px;
	text-indent: -9999px;
	background-image: url(../images/main_logo_1.png);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	border:12px solid #fff;
	z-index:100;
}
header>h1>a{
	display: block;
	width: 150px;
	height: 89px;
}
header>nav{
	position: absolute;
	bottom:10px;
	left: 0px;
	width:100%;
	background-color:#707070;
}
header>nav>.gnb{
	margin-left:350px;
}
header>nav>.gnb>li{
	float: left;
	text-align: center;

}
header>nav>.gnb>li:last-child{
	margin-right: 0;
}
header>nav>.gnb>li>a{
	display: block;
	width: 150px;
	height: 40px;
	line-height: 40px;
}
header>nav>.gnb>li>a>span{

	font-size: 14px;
	font-weight: 600;
}
header>nav>.gnb>li>a>span.en{
	position:absolute;
	display:block;
	width: 150px;
	height: 40px;
	color:#fff;
	background-color:#808080;
}
header>nav>.gnb>li:hover>a>span.en{
	display: none;
}
header>nav>.gnb>li>a>span.ko{
	position:absolute;
	display:block;
	width: 150px;
	height: 40px;
	color:#000;
	background-color:#fff;
}
header>nav>.gnb>li:hover>a>span.ko{
	display: block;
}
header>.sns{
	position:absolute;
	top:40px;
	right:30px;

}
header>.sns>ul{}
header>.sns>ul>li{
	float:left;
	margin-right:10px;
	text-indent:-9999px;
}
header>.sns>ul>li>a{
	display:block;
	width:19px;
	height:21px;
	background-repeat:no-repeat;
	background-size:cover;
}
header>.sns>ul>li:nth-child(1)>a{background-image:url(../images/facebook.png);}
header>.sns>ul>li:nth-child(2)>a{background-image:url(../images/instar.png);}
header>.sns>ul>li:nth-child(3)>a{background-image:url(../images/twitter.png);}
header>.sns>ul>li:nth-child(4)>a{background-image:url(../images/blog.png);}
header>.sns>ul>li:nth-child(1):hover>a{background-image:url(../images/facebook_hover.png);}
header>.sns>ul>li:nth-child(2):hover>a{background-image:url(../images/instar_hover.png);}
header>.sns>ul>li:nth-child(3):hover>a{background-image:url(../images/twitter_hover.png);}
header>.sns>ul>li:nth-child(4):hover>a{background-image:url(../images/blog_hover.png);}

/* 푸터영역 */
footer{
	position:relative;
	top:200px;
	border-top:2px solid #E46C0A;
}
footer>.fot_top{
	position:relative;
	width:1200px;
	height:110px;
	margin:auto;
	background-color:#fff;
}
footer>.fot_top>h2{
	position:absolute;
	top:20px;
	width:150px;
	height:75px;
	text-indent:-9999px;
	background-image:url(../images/footer_logo.png);
	background-repeat:no-repeat;
	background-size:cover;
}
footer>.fot_top>.side_map{
	position:absolute;
	right:20px;
	bottom:20px;
	display:inline-block;

}
footer>.fot_top>.side_map>li{
	float:left;
	text-align:center;
	border-right:1px solid #999;
}
footer>.fot_top>.side_map>li:last-child{
	border-right:0;
}
footer>.fot_top>.side_map>li>a{
	display:block;
	padding:0 10px;
	color:#999;
}
footer>.fot_top>.side_map>li>a:hover{
	color:#E46C0A;
}
footer>.fot_bottom{
	position:relative;
	height:100px;
	background-color:#E46C0A;
}
footer>.fot_bottom>address{
	width:1200px;
}
footer>.fot_bottom>address>.ju{
	position:absolute;
	top:25px;
	left:100px;
	color:#fff;
	font-size:10px;
	text-align:center;
}
footer>.fot_bottom>address>.ju>span{
	position:absolute;
	top:30px;
	left:0;
}
footer>.fot_bottom>address>.copy{
	position:absolute;
	top:40px;
	right:100px;
	color:#fff;
	font-size:12px;
	font-weight:600;
}

/* 색션영역 */
#main{
	display: block;
	position:relative;
	top:40px;
	width:1200px;
	margin:auto;

}
#main>.banner{margin-bottom:100px;}
#main>.banner>#screen{
	position:relative;
	left:0px;
	width:1200px;
	height:600px;
	overflow:hidden;
}
#main>.banner>#screen>.slides{
	position:absolute;
	left:200px;
	top:0;
	width:4000px;
	height:600px;
}
#screen>.slides>li{
	float:left;
	opacity:0.3;
	//border:30px solid #fff;
	box-sizing:border-box;
}
#screen>.slides>li.opac{
	opacity:1;
	border:0;
}
#main>.banner>#screen>.slides>li>a{
	display:block;
	width:800px;
	height:600px;
	background-repeat:no-repeat;
	background-size:cover;

}
#main>.banner>#screen>.slides>li:nth-child(1)>a{background-image:url(../images/banner_1.jpg);}
#main>.banner>#screen>.slides>li:nth-child(2)>a{background-image:url(../images/banner_2.jpg);}
#main>.banner>#screen>.slides>li:nth-child(3)>a{background-image:url(../images/banner_3.jpg);}
#main>.banner>#screen>.slides>li:nth-child(4)>a{background-image:url(../images/banner_4.jpg);}
#main>.banner>#screen>.slides>li:nth-child(5)>a{background-image:url(../images/banner_5.jpg);}
#screen>.pagination{
	position:absolute;
	left:50%;
	bottom:-20px;
	margin-left:-34px;
	width:67px;
	z-index:1000;
}
#screen>.pagination>li{
	float:left;
	margin-right:5px;
	width:13px;
	background-image:url(../images/pagination.png);
	background-repeat:no-repeat;
}
#screen>.pagination>li.on{
	background-position:0 -13px;
}
#screen>.pagination>li:hover{
	background-position:0 -26px;
}
#screen>.pagination>li:last-child{
	margin-right:0;
}
#screen>.pagination>li>a{
	display:block;
	height:13px;
	text-indent:-9999px;
}
#main>.banner>#screen>.navigation{
	position:absolute;
	top:50%;
	display:block;
	width:80px;
	height:100px;
	text-indent:-9999px;
	background-repeat:no-repeat;
}
#main>.banner>#screen>.perv{background-image:url(../images/btn_prev.png);}
#main>.banner>#screen>.perv:hover{background-image:url(../images/btn_prev_on.png);}
#main>.banner>#screen>.next{right:0;background-image:url(../images/btn_next.png);}
#main>.banner>#screen>.next:hover{background-image:url(../images/btn_next_on.png);}
#main>.containe>{}

#main>.containe>.certificate{
	display:inline-block;
	width:540px;
	height:458px;
	margin:0 20px 40px 30px;
	text-indent:-9999px;
	background-image:url(../images/containe1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#main>.containe>.certificate>a{
	display: block;
	width:540px;
}
#main>.containe>.job_search{
	float:right;
	margin-right:50px;
	height:458px;
	text-indent:-9999px;
	}
#main>.containe>.job_search>a{
	position:relative;
	display: block;
	width:540px;
	height:458px;
	overflow: hidden;
}
#main>.containe>.job_search>a>p{
	display:none;
	width:540px;
	height:458px;
	color:#fff;
	text-indent:0;
	line-height:458px;
	font-size:25px;
	text-align:center;
	background-color:#000;
	opacity:0.5;
}
#main>.containe>.job_search>a>ol{
	position:absolute;
	width:1620px;
}
#main>.containe>.job_search>a>ol>li{
	float:left;
	width:540px;
	height:458px;
	background-repeat: no-repeat;
	background-size: cover;
}
#main>.containe>.job_search>a>ol>li:nth-child(1){background-image:url(../images/ani.png);}
#main>.containe>.job_search>a>ol>li:nth-child(2){background-image:url(../images/ani2.png);}
#main>.containe>.product{
	display:inline-block;
	width:540px;
	height:458px;
	margin:0 20px 40px 30px;
	text-indent:-9999px;
	background-image:url(../images/containe3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#main>.containe>.product>a{
	display: block;
	width:540px;
	height:458px;
}
#main>.containe>.news{
	display:inline-block;
	width:540px;
	height:458px;
	text-indent:-9999px;
	background-image:url(../images/containe4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#main>.containe>.news>a{
	display: block;
	width:540px;
	height: 458px;
}
 section{
 	display: none;
	width:1200px;
	margin:0 auto;

}



/* 정보영역 */
section>.info>ul{}
section>.info>ul>li{
	float:left;
	width:366px;
	margin-right:50px;
	border-radius:20px;
	box-shadow:-3px 3px 7px silver;
}
section>.info>ul>li:last-child{margin-right:0;}
section>.info>ul>li>a{
	display:block;
	height:231px;
	text-indent:-9999px;
	background-repeat:no-repeat;
	background-size:cover;
}



/* 커뮤니티 게시판 */
section>.community{
	position:relative;
	width:100%;
	height:504px; /*  table 434 + m 50 + pagination 20 */
	margin-top:80px;

}
section>.community>table{
	margin:0 auto 30px;
	border-top:3px solid #f85022;
}
section>.community>table thead{
	color:#fff;
	background-color:#bebebe;
}
section>.community>table tbody tr{
	border-bottom:1px solid #F2F2F2;
}
section>.community>table tbody tr:nth-child(1){
	font-weight:800;
	background-color:#F2F2F2;
}
section>.community>table tr{
	line-height:35px;
}
section>.community>table tr td>a{
	color: #000;
}
section>.community>table tr td:nth-child(2n-1){
	text-align:center;
}
section>.community>a.button{ /* 글쓰기 */
	position:absolute;
	bottom:20px;
	right:60px;
	display:block;
	width:70px;
	color:#fff;
	line-height:25px;
	text-align:center;
	background-color:#f85022;
	border-radius:3px;
}
section>.community>a.button:hover{
	font-weight:600;
}


/* 인디케이터 */
section>.community>.pagination{
	position:absolute;
	left:0;
	bottom:0;
	width:1200px;
	height:20px;
}
section>.community>.pagination>.page_num{
	position:absolute;
	left:50%;
	bottom:0;
	width:140px;
	height:20px;
	margin-left:-70px;
}
section>.community>.pagination>.page_num>li{
	float:left;
	width:20px;
	margin-right:10px;
}
section>.community>.pagination>.page_num>li:last-child{
	margin-right:0;
}
section>.community>.pagination>.page_num>li>a{
	display:block;
	line-height:20px;
	color: #000;
	text-align:center;
}
section>.community>.pagination>.page_num>li:hover>a{
	border-bottom:2px solid #f85022;
}
section>.community>.pagination>.page_num>li.on>a{
	border-bottom:2px solid #f85022;
}
section>.community>.pagination>a{
	position:absolute;
	left:50%;
	bottom:0;
	width:30px;
	color: #000;
	line-height:20px;
	text-align:center;
	//border:1px solid red;
}
section>.community>.pagination>a.prev{
	margin-left:-110px;
}
section>.community>.pagination>a.next{
	margin-left:80px;
}
section>.community>table tbody tr:hover{
   background-color:#F2F2F2;
}
#certificate{display: none;}
#certificate>.info>ul>li:nth-child(1)>a{background-image:url(../images/certificate_1.png);}
#certificate>.info>ul>li:nth-child(2)>a{background-image:url(../images/certificate_2.png);}
#certificate>.info>ul>li:nth-child(3)>a{background-image:url(../images/certificate_3.png);}
#seeking_work>.info>ul>li:nth-child(1)>a{background-image:url(../images/seeking_work_1.png);}
#seeking_work>.info>ul>li:nth-child(2)>a{background-image:url(../images/seeking_work_2.png);}
#seeking_work>.info>ul>li:nth-child(3)>a{background-image:url(../images/seeking_work_3.png);}
#product{//display: block;}
#product>.info>ul>li{
	float:left;
	width:366px;
	margin-right:50px;
	background-size:cover;
	background-repeat:no-repeat;
	border-radius:20px;
	box-shadow:-3px 3px 7px silver;
}
#product>.info>ul>li:nth-child(1){background-image:url(../images/product_1.png);}
#product>.info>ul>li:nth-child(2){background-image:url(../images/product_2.png);}
#product>.info>ul>li:nth-child(3){margin-right:0;background-image:url(../images/product_3.png);}
#product>.info>ul>li>a{
	display:block;
	position:relative;
	height:231px;
	color: #000;
	text-indent: 0;
}
#product>.info>ul>li>a>span.tit{
   position:absolute;
   top:20px;
   left:10px;
   width:300px;
   font-weight:800;
   line-height:30px;
   font-size:20px;
   text-align:center;
   text-indent:0;

}
#product>.info>ul>li>a>span.tit>strong{
   color:#F75121;
}
#product>.info>ul>li>a>span{
   position:absolute;
   top:80px;
   left:40px;
   font-size:13px;
   text-indent:0;
}
#news> .info > ul > li:nth-child(1){background-image:url(../images/it1.png);}
#news> .info > ul > li:nth-child(2){background-image:url(../images/it2.png);}
#news> .info > ul > li:nth-child(3){background-image:url(../images/it3.png);}
#job_honey_tip>.info>ul>li:nth-child(1)>a{background-image:url(../images/tip1.png);}
#job_honey_tip>.info>ul>li:nth-child(2)>a{background-image:url(../images/tip2.png);}
#job_honey_tip>.info>ul>li:nth-child(3)>a{background-image:url(../images/tip3.png);}
